<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blmdz.wechat.dao.RebotDao">
	<resultMap id="BaseResultMap" type="cn.blmdz.wechat.model.XpollRebot">
		<id column="id" property="id" />
        <result column="type" property="type" />
        <result column="groups" property="groups" />
        <result column="link" property="link" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="cloums_all">
		id, <include refid="cloums" />
	</sql>

	<sql id="cloums">
		type, groups, link, remark, status, create_time, update_time
	</sql>

	<sql id="vals_all">
		#{id}, <include refid="vals" />
	</sql>

	<sql id="vals">
		#{type}, #{groups}, #{link}, #{remark}, true, now(), now()
	</sql>

	<sql id="tb">
		xpoll_rebot
	</sql>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="XpollRebot">
		insert into
		<include refid="tb" />
		(<include refid="cloums" />)
		values
		(<include refid="vals" />)
	</insert>

	<delete id="delete" parameterType="long">
		delete from
		<include refid="tb" />
		where id = #{id}
	</delete>

    <delete id="tombstone" parameterType="long">
        update
        <include refid="tb" />
        <set>
            status = false
        </set>
        where id = #{id}
    </delete>

	<update id="update" parameterType="XpollRebot">
		update
	    <include refid="tb"/>
		<set>
          <if test="type != null">type = #{type},</if>
          <if test="groups != null">groups = #{groups},</if>
          <if test="link != null">link = #{link},</if>
		  <if test="remark != null">remark = #{remark},</if>
          update_time = now()
		</set>
		where id = #{id}
	</update>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
		where id = #{id}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>

	<select id="page" resultMap="BaseResultMap">
		select
		<include refid="cloums_all" />
		from <include refid="tb" />
	</select>
</mapper>
